*{
    cursor: url(imagenes/globitos.gif),auto;
}
body{
    font-family: cursive;
    margin: 0%;
   
}
a{
    text-decoration: none;
    color: yellow;
    font-size: 20px;
  
   
}
header{
    display: flex;
    height: 75px;
    justify-content: space-between;
    background-color: rgb(255, 77, 77);
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin right: 20px;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover{
    color: #4141c9;
}

div h2{
    color: yellow;
}
body{
   background: url(imagenes/starconfetti.png);
 cursor: url(imagenes/globitos.gif),auto;
 align-items: center;
 justify-content: center;
 
   
}
form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(255, 77, 77) ;
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: yellow;

}
form h2{
    color: #4141c9;
    font-size: 24px;
}

.input-group{
    display: flex;
    flex-direction: column;
}
input, textarea{
    background-color: rgb(253, 253, 162);
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: red;
}

::placeholder{
    color: red;
    font-size: 15px;
}
:focus{
    outline: 1px solid #4141c9;
}

.btn{
    background-color: blue;
    color: red;
    font-size: 17px;
}

.btn:hover{
    background-color: rgb(83, 83, 248);
}
@media(max-width:991px){

    body{
        padding: 30px; ;
    }
    form{
        width: 100%;
    }
}
form{
    width: 20%;
    margin: auto
}

footer{
    background-color: #4141c9;
    height: 50px;
}